{% extends 'layouts/default/page.html' %}
{% load i18n %}



{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Welcome' %} <b>{{ request.user.first_name }}&nbsp;{{ request.user.last_name }} </b>.

    {% else %}

        <b>{% trans 'You are a guest.' %} </b>.

    {% endif %}


    <div class="content-wrapper">

        <br>
        <div class="container">
          <div class="row">
              {% for object in participants %}
            <div class="col-sm-6 col-md-4">
              <div class="card" style="bottom:5px;">
                  <br>
                  <h3 class="text-center"> {{ object.participant_contest.contest_name }}</h3>
                  <img src="{{ object.photo.url }}" class="card-img-top" alt="No Image Found" width="100%" height="300">
                  <div class="card-body">
                    <h5 class="card-title">{{ object.participant_user.first_name  }} {{ object.participant_user.last_name  }}</h5>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <div class="likebuttons" style="display:inline-block;">
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        {% else %}
                            <div class="likebuttons" style="display:inline-block;">
                                <button id="likebutton{{ object.id }}" onclick="actionlikebutton({{ request.user.id }},{{object.participant_contest.id}},{{object.id}})" class="btn btn-primary">Vote</button>
                            </div>
                        {% endif %}

                    {% else %}
                         <a href="{% url 'accounts:log_in' %}" class="btn btn-primary">Login To Vote</a>
                    {% endif %}
                  </div>
              </div>
            </div>
             {% endfor %}
          </div>
        </div>
    </div>


    <script>
        $(document).ready(function(){
        });

        function actionlikebutton(userid,contestid,participatedid)
        {
            var token = "{{ csrf_token }}";
            if( $('#likebutton'+participatedid).html() == "Vote" )
            {
                 $.ajax({
                  type:"POST",
                  headers: {'X-CSRFToken':token},
                  url:"likeapi/",
                      data: {
                        'userid' : userid,
                        'contestid' : contestid,
                        'participatedid' : participatedid,
                      },
                      success:function(data)
                      {
                        console.log("data",data);
                        if(data['status']=="failed")
                        {
                            alert(data["message"]);
                        }
                        else
                        {
                            alert(data["message"]);
                        }
                      }
                  });


            }
            else
            {
                $('#likebutton'+participatedid).html('Vote');
            }
        }



    </script>

{% endblock %}
